body{
    background-color: gray;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1rem;
    /* justify-content: center; */
}

.basic{
    background-color: white;
    /* height: 430px; */
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
.basic img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px 5px 0px 0px;
}

.basic h2,h3{
    padding: 0px 5px;
    margin:5px 5px;
}



.basic p{
    padding: 0px 5px;
    margin:5px 5px;
}

.basic-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}


.basic-bottom h3:hover,span:hover{
    background-color: grey;
  cursor: pointer;
    
}

/* <!-- Basic with Text over Media --> */

.component_two{
    background-color: white;
    height: fit-content;
    width: 400px;
    border-radius: 5px;
    display: grid;
    /* background-color: red; */
    
}

.component_two img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px 5px 0px 0px;
}

.overlay{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    color: red;
    margin-left: 0.5rem;
    /* background-color: seagreen; */
}

.upper, .overlay{
    grid-column: 1/2;
    grid-row: 1/2;
}

.component_two .basic-bottom h3{
    color: royalblue;
}

/* Component 3 - Basic w/ header */

.component_three{
    background-color: white;
    /* height: 430px; */
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.top, h3 h4{
    margin-left: 1rem;
    /* background-color: goldenrod; */
}
.component_three img{
    max-width: 100%;
    max-height: 100%;
}

.basic-bottom .bottom3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.component_three .basic-bottom{
    display: flex;
    flex-direction: column;
    /* background-color: salmon; */
}



/* Component Four - Basic w/ only buttons */

.component_four .basic-bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Component Five - Basic w/ only buttons */

.basic-bottom5{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  padding: 20px;
  background-color: red;
    
}

/* Component 6 - Horizontal Image and Text */

.component6{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: honeydew;
    border-radius: 5px;
}

.header6 .img6{
  width: 100px;
  height: 100px;
}

.header6{
    display: flex;
    flex-direction: row;
}


